alembic==1.15.1

annotated-types==0.7.0
anyio==4.9.0
-e git+https://github.com/punchagency/entrecore-server@966a005c22e9e2bb8de770d22e33c505299f521e#egg=auth_service&subdirectory=auth_service
bcrypt==4.3.0
black==23.12.1
certifi==2025.1.31
cffi==1.17.1
click==8.1.8
cryptography==43.0.3
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
entrecore-auth-core @ git+https://github.com/punchagency/entrecore-server.git@966a005c22e9e2bb8de770d22e33c505299f521e#subdirectory=entrecore_auth_core
fastapi==0.109.2
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
iniconfig==2.1.0
isort==5.13.2
Mako==1.3.9
MarkupSafe==3.0.2
mypy-extensions==1.0.0
packaging==24.2
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
psycopg2-binary==2.9.10
pyasn1==0.4.8
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pytest==7.4.4
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.6
rsa==4.9
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
starlette==0.36.3
typing_extensions==4.12.2
uvicorn==0.23.2
